<launch>

    <arg name="exportPerfStats" default="0"/>
    <arg name="dl_model_path" default="/opt/model_zoo/TVM-SS-5818-deeplabv3lite-mobv2-qat-robokit-768x432"/>

    <!-- ti_vision_cnn: semseg -->
    <include file="$(find ti_vision_cnn)/launch/semseg_cnn.launch">
        <arg name="image_format" default="2"/>
        <arg name="lut_file_path" default="$(find zed_capture)/config/SN5867575_HD_LUT_right.bin" />
        <arg name="dl_model_path" value="$(arg dl_model_path)"/>
        <arg name="exportPerfStats" value="$(arg exportPerfStats)"/>
    </include>

    <!-- rosbag play -->
    <arg name="bagfile" default="$(env TI_DATA_PATH)/ros_bag/zed1_2020-11-09-18-01-08.bag"/>
    <arg name="ratefactor" default="1.0"/>
    <node name="rosbag_play" pkg="rosbag" type="play" output="screen"
        args="-r $(arg ratefactor) -l $(arg bagfile)" >
        <remap from="/camera/right/image_raw" to="/camera/image_raw"/>
        <remap from="/camera/right/camera_info" to="/camera/camera_info"/>
    </node>

</launch>
