<launch>

    <!-- Input image format: 0 - VX_DF_IMAGE_U8, 1 - VX_DF_IMAGE_NV12, 2 - VX_DF_IMAGE_UYVY -->
    <arg name="image_format" default="2" />
    <!-- LDC LUT definition file path -->
    <arg name="lut_file_path" default="$(find zed_capture)/config/SN5867575_HD_LUT_right.bin" />
    <!-- DL model path -->
    <arg name="dl_model_path" default="/opt/model_zoo/TVM-SS-5818-deeplabv3lite-mobv2-qat-robokit-768x432"/>
    <!-- <arg name="dl_model_path" default="/opt/model_zoo/ONR-SS-8818-deeplabv3lite-mobv2-qat-robokit-768x432"/> -->

    <!-- ti_vision_cnn -->
    <node pkg = "ti_vision_cnn" type = "vision_cnn" name = "vision_cnn" output = "screen" args = "" required = "true">
        <!-- Params YAML file -->
        <rosparam file="$(find ti_vision_cnn)/config/params.yaml" subst_value="true" />
        <!-- Input image format: 0 - VX_DF_IMAGE_U8, 1 - VX_DF_IMAGE_NV12, 2 - VX_DF_IMAGE_UYVY -->
        <param name = "image_format" value = "$(arg image_format)"/>
        <!-- LDC LUT definition file path -->
        <param name = "lut_file_path" value = "$(arg lut_file_path)"/>
        <!-- DL model path -->
        <param name = "dl_model_path" value = "$(arg dl_model_path)"/>
        <!-- Input topic name to subscribe -->
        <param name = "input_topic_name" value = "camera/image_raw"/>
        <!-- Output rectified image topic name to publish -->
        <param name = "rectified_image_topic" value = "camera/image_rect_nv12"/>
        <!-- frame_id for output rectified image -->
        <param name = "rectified_image_frame_id" value = "right_frame"/>
        <!-- Output semantic segmentation tensor topic name to publish to -->
        <param name = "vision_cnn_tensor_topic" value = "vision_cnn/tensor"/>
    </node>

</launch>
