<launch>

    <arg name="zed_sn" default="SN18059"/>
    <arg name="exportPerfStats" default="0"/>
    <arg name="detVizThreshold" default="0.5"/>

    <!-- ti_vision_cnn -->
    <include file="$(find ti_vision_cnn)/launch/objdet_cnn.launch">
        <arg name="image_format" value="2"/>
        <arg name="lut_file_path" value="$(find zed_capture)/config/$(arg zed_sn)_HD_LUT_right.bin" />
        <arg name="exportPerfStats" value="$(arg exportPerfStats)"/>
        <arg name="detVizThreshold" value="$(arg detVizThreshold)"/>
    </include>

    <!-- zed_capture -->
    <include file="$(find zed_capture)/launch/zed_capture_remap.launch">
        <arg name="zed_sn_str" value="$(arg zed_sn)"/>
        <arg name="frame_rate" value="15"/>
        <arg name="topic_ns_right" value="camera"/>
    </include>

</launch>
