<launch>

    <!-- ti_estop -->
    <include file="$(find ti_estop)/launch/estop.launch"/>

    <!-- rosbag play -->
    <arg name="bagfile" default="$(env WORK_DIR)/data/ros_bag/zed1_2020-11-09-18-01-08.bag"/>
    <arg name="ratefactor" default="1.0"/>
    <node name="rosbag_play" pkg="rosbag" type="play" output="screen"
        args="-r $(arg ratefactor) -l $(arg bagfile)" />

</launch>
