<launch>
    <!-- You can check the device ID and subdev ID for the IMX390 camera attached
    by running /opt/edge_ai_apps/scripts/setup_cameras.sh.
    Accordingly please update the parameters pass as arguments -->
    <arg name="device" default="/dev/video18"/>
    <arg name="subdev" default="/dev/v4l-subdev7"/>
    <!-- framerate (integer): inactive, 30 FPS (default, max) -->
    <!-- Can be enabled by e.g., adding videorate before tiovxdlcolorconvert, but it creases A72 loading -->
    <arg name="framerate" default="30"/>
    <!-- node name -->
    <arg name="node_name" default="gscam_node"/>
    <!-- camera name: also used as namespace for the output topic name -->
    <arg name="camera_name" default="camera"/>
    <!-- edgeai-gst-plugins sensor name -->
    <arg name="sensor_name" default="SENSOR_SONY_IMX390_UB953_D3"/>
    <!-- DCC VISS binary file -->
    <arg name="dcc_isp_file" default="/opt/imaging/imx390/dcc_viss.bin"/>
    <!-- DCC 2A binary file -->
    <arg name="dcc_2a_file" default="/opt/imaging/imx390/dcc_2a.bin"/>
    <!-- camera_info URL: replace with camera_info from camera calibration -->
    <arg name="camera_info_url" default="/opt/robotics_sdk/tools/mono_camera/imx390_35244_equidistant_camera_info.yaml"/>

    <!-- GStreamer pipeline specified in gscam_config was tested with IMX390 camera,
        'edgeai-tiovx-modules' and 'edgeai-gst-plugins' are assumed to be already installed in TDA4 ROS container.
        Raw resolution is 1936 x 1096 at 30 FPS.
        Note: /dev/v4l-subdev ID can change, depending on the device attached, and at reboot. -->
    <node pkg="gscam" name="$(arg node_name)" type="gscam" output="screen">
        <param name="gscam_config"
            value="v4l2src device=$(arg device) do-timestamp=true ! video/x-bayer, width=1936, height=1096, format=rggb12 !
            tiovxisp sink_0::device=$(arg subdev) sensor-name=$(arg sensor_name) dcc-isp-file=$(arg dcc_isp_file)
            sink_0::dcc-2a-file=$(arg dcc_2a_file) format-msb=11 ! video/x-raw, format=NV12 !
            tiovxdlcolorconvert target=1 out-pool-size=4 "/>
        <param name="camera_name"     value="$(arg camera_name)"/>
        <param name="camera_info_url" value="$(arg camera_info_url)"/>
        <param name="width"           value="1936"/>
        <param name="height"          value="1096"/>
        <param name="framerate"       value="$(arg framerate)"/>
        <param name="sync_sink"       value="false"/>
        <param name="use_gst_timestamps" value="false"/>
        <!-- image encoding: "yuv420" - publish in NV12 -->
        <param name="image_encoding"  value="yuv420"/>
    </node>

</launch>
