<launch>

    <!-- color conversion for input image_raw for visualization -->
    <node pkg="ti_viz_nodes" type="viz_color_conv_yuv2rgb" name="viz_color_conv_yuv2rgb_node" output="screen" args="" required="true">
        <param name="width"             value="1280"/>
        <param name="height"            value="720"/>
        <param name="input_yuv_topic"   value="camera/image_raw"/>
        <param name="output_rgb_topic"  value="camera/image_raw_rgb"/>
        <param name="yuv_format"        value="YUV420"/>
        <param name="yuv420_luma_only"  value="false"/>
    </node>

    <!-- image_view -->
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <param name="autosize"         value="true"/>
        <remap from="image" to="/camera/image_raw_rgb"/>
    </node>

</launch>
