<launch>

    <!-- color conversion from YUV422 to RGB -->
    <node pkg="ti_viz_nodes" type="viz_color_conv_yuv2rgb" name="viz_color_conv_yuv2rgb_node" output="screen" args="" required="true">
        <param name="width"  value="1280"/>
        <param name="height" value="720"/>
        <param name= "input_yuv_topic"    value = "camera/right/image_raw"/>
        <param name= "output_rgb_topic"   value = "camera/right/image_raw_rgb"/>
        <param name= "yuv_format"         value = "YUV422"/>
    </node>

    <!-- generate disparity map and confidence map from disparity_raw  -->
    <include file="$(find ti_viz_nodes)/launch/viz_disparity.launch"/>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz_sde" args="-d $(find ti_viz_nodes)/rviz/sde.rviz" />

</launch>
