<launch>

    <!-- generate disparity map and confidence map from disparity_raw  -->
    <include file="$(find ti_viz_nodes)/launch/viz_disparity.launch"/>

    <!-- generate semantic segmentation map  -->
    <include file="$(find ti_viz_nodes)/launch/viz_semseg.launch"/>

    <!-- viz_estop -->
    <include file="$(find ti_viz_nodes)/launch/viz_estop.launch"/>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz_estop" args="-d $(find ti_viz_nodes)/rviz/estop.rviz" />

</launch>
