<launch>

    <arg name="width" default="1280"/>
    <arg name="height" default="720"/>

    <!-- color conversion for input image_raw for visualization -->
    <node pkg="ti_viz_nodes" type="viz_color_conv_yuv2rgb" name="viz_color_conv_yuv2rgb_node" output="screen" args="" required="true">
        <param name="width"             value="$(arg width)"/>
        <param name="height"            value="$(arg height)"/>
        <param name="input_yuv_topic"   value="camera/image_rect_nv12"/>
        <param name="output_rgb_topic"  value="camera/image_rect_rgb"/>
        <param name="yuv_format"        value="YUV420"/>
        <param name="yuv420_luma_only"  value="false"/>
    </node>

    <!-- viz_objdet  -->
    <node pkg="ti_viz_nodes" type="viz_objdet" name="viz_objdet" output="screen" args="" required="true">
        <param name="rectified_image_topic"    value="camera/image_rect_rgb"/>
        <param name="vision_cnn_tensor_topic"  value="vision_cnn/tensor"/>
        <param name="vision_cnn_image_topic"   value="vision_cnn/out_image"/>
    </node>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz_semseg" args="-d $(find ti_viz_nodes)/rviz/objdet_cnn.rviz" />

</launch>
