<launch>

    <!-- color conversion for image_rect_nv12 for color visualization -->
    <node pkg="ti_viz_nodes" type="viz_color_conv_yuv2rgb" name="viz_color_conv_yuv2rgb_rect_color" output="screen" args="" required="true">
        <param name="width"            value="1280"/>
        <param name="height"           value="720"/>
        <param name="input_yuv_topic"  value="camera/image_rect_nv12"/>
        <param name="output_rgb_topic" value="camera/image_rect_color"/>
        <param name="yuv_format"       value="YUV420"/>
        <param name="yuv420_luma_only" value="false"/>
    </node>

    <!-- color conversion for image_rect_nv12 for gray visualization -->
    <node pkg="ti_viz_nodes" type="viz_color_conv_yuv2rgb" name="viz_color_conv_yuv2rgb_rect_gray" output="screen" args="" required="true">
        <param name="width"            value="1280"/>
        <param name="height"           value="720"/>
        <param name="input_yuv_topic"  value="camera/image_rect_nv12"/>
        <param name="output_rgb_topic" value="camera/image_rect_gray"/>
        <param name="yuv_format"       value="YUV420"/>
        <param name="yuv420_luma_only" value="true"/>
    </node>

    <!-- viz_semseg  -->
    <node pkg="ti_viz_nodes" type="viz_semseg" name="viz_semseg" output="screen" args="" required="true">
        <param name="rectified_image_topic"    value="camera/image_rect_gray"/>
        <param name="vision_cnn_tensor_topic"  value="vision_cnn/tensor"/>
        <param name="vision_cnn_image_topic"   value="vision_cnn/out_image"/>
    </node>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz_semseg" args="-d $(find ti_viz_nodes)/rviz/semseg_cnn.rviz" />

</launch>
