<launch>

    <!-- objdet_range.launch -->
    <include file="$(find ti_objdet_range)/launch/objdet_range.launch">
        <arg name="zed_sn" value="SN5867575"/>
    </include>

    <!-- rosbag play -->
    <arg name="bagfiles" default="$(env TI_DATA_PATH)/ros_bag/zed1_2020-11-09-18-01-08.bag"/>
    <arg name="ratefactor" default="1.0"/>
    <node name="rosbag_play" pkg="rosbag" type="play" output="screen"
        args="-r $(arg ratefactor) -l $(arg bagfiles)
        --topics /camera/left/camera_info /camera/left/image_raw
                 /camera/right/camera_info /camera/right/image_raw" />

	<!-- base_link, right_frame -->
	<!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
	<!-- yaw is rotation about Z, pitch is rotation about Y, and roll is rotation about X -->
	<arg name="pi/2" value="1.5707963267948966" />
    <arg name="4p5deg" value="0.078539816339745" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_right_frame"
        args="0.125 -0.06 -0.064 -$(arg pi/2) $(arg 4p5deg) -$(arg pi/2) base_link right_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_horiz_scan"
        args="0.125 -0.06 -0.064 0 $(arg 4p5deg) 0 base_link camera_horiz_scan 100" />

</launch>
