<launch>

    <arg name="video_id" default="2"/>
    <arg name="zed_sn" default="SN18059"/>
	<arg name="exportPerfStats" default="0"/>

    <!-- objdet_range.launch -->
    <include file="$(find ti_objdet_range)/launch/objdet_range.launch">
        <arg name="zed_sn" value="$(arg zed_sn)"/>
		<arg name="exportPerfStats" value="$(arg exportPerfStats)"/>
    </include>

    <!-- zed_capture -->
	<node pkg="zed_capture" type="zed_capture" name="zed_capture" output="screen" required="true">
		<param name="camera_mode"             value="HD"/>
		<param name="frame_rate"              value="15"/>
		<param name="frame_id_left"           value="left_frame"/>
		<param name="frame_id_right"          value="right_frame"/>
		<param name="device_name"             value="/dev/video$(arg video_id)"/>
		<param name="encoding"                value="yuv422"/>
		<param name="image_topic_left"        value="camera/left/image_raw" />
		<param name="image_topic_right"       value="camera/right/image_raw" />
		<param name="camera_info_topic_left"  value="camera/left/camera_info" />
		<param name="camera_info_topic_right" value="camera/right/camera_info" />
		<param name="camera_info_left_yaml"   value="$(arg zed_sn)_HD_camera_info_left.yaml"/>
		<param name="camera_info_right_yaml"  value="$(arg zed_sn)_HD_camera_info_right.yaml"/>
	</node>

	<!-- base_link, right_frame -->
	<!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
	<!-- yaw is rotation about Z, pitch is rotation about Y, and roll is rotation about X -->
	<arg name="pi/2" value="1.5707963267948966" />
    <arg name="4p5deg" value="0.078539816339745" />
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_right_frame"
        args="0.125 -0.06 -0.064 -$(arg pi/2) $(arg 4p5deg) -$(arg pi/2) base_link right_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_horiz_scan"
        args="0.125 -0.06 -0.064 0 $(arg 4p5deg) 0 base_link camera_horiz_scan 100" />

</launch>
