<launch>

    <arg name="exportPerfStats" default="0"/>

    <!-- launch ti_vl -->
    <include file="$(find ti_vl)/launch/visloc.launch">
        <arg name="exportPerfStats" value="$(arg exportPerfStats)"/>
    </include>

    <arg name="bagfile" default="$(env TI_DATA_PATH)/visual_localization/ros_bag/carla_768x384_visloc.bag"/>
    <arg name="ratefactor" default="1"/>
    <arg name="node_start_delay" default="3.0"/>
    <node name="rosbag_play" pkg="rosbag" type="play" output="screen"
        args="-r $(arg ratefactor) -l $(arg bagfile)"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
</launch>
