<launch>

    <arg name="exportPerfStats" default="0"/>

    <!-- ti_sde -->
    <include file="$(find ti_sde)/launch/sde.launch">
        <arg name="exportPerfStats" value="0"/>
    </include>

    <!-- ti_vision_cnn -->
    <node pkg = "ti_vision_cnn" type = "vision_cnn" name = "vision_cnn" output = "screen" args = "" required = "true">
        <rosparam file="$(find ti_vision_cnn)/config/params.yaml" subst_value="true" />
        <param name = "image_format" value = "2"/>
        <param name = "lut_file_path" value = "$(find zed_capture)/config/SN5867575_HD_LUT_right.bin"/>
        <param name = "dl_model_path" value = "/opt/model_zoo/TVM-SS-5818-deeplabv3lite-mobv2-qat-robokit-768x432"/>
        <param name = "input_topic_name" value = "camera/right/image_raw"/>
        <param name = "rectified_image_topic" value = "camera/right/image_rect_nv12"/>
        <param name = "rectified_image_frame_id" value = "right_frame"/>
        <param name = "vision_cnn_tensor_topic" value = "vision_cnn/tensor"/>
        <param name = "exportPerfStats" value = "$(arg exportPerfStats)"/>
    </node>

    <!-- rosbag play -->
    <arg name="bagfile" default="$(env TI_DATA_PATH)/ros_bag/zed1_2020-11-09-18-01-08.bag"/>
    <!-- <arg name="bagfile" default="/root/.ros/2022-02-10-04-09-06_11.bag"/> -->
    <!-- <arg name="bagfile" default="/root/.ros/2022-02-10-04-09-51_14.bag"/> -->
    <arg name="ratefactor" default="1.0"/>
    <node name="rosbag_play" pkg="rosbag" type="play" output="screen"
        args="-r $(arg ratefactor) -l $(arg bagfile)" />

</launch>
