<launch>

    <arg name="video_id" default="2"/>
    <arg name="zed_sn" default="SN18059"/>
    <arg name="exportPerfStats" default="0"/>

    <!-- ti_sde with enable_pc: 1 -->
    <include file="$(find ti_sde)/launch/sde.launch">
        <arg name="zed_sn" value="$(arg zed_sn)"/>
        <arg name="sde_algo_type" value="1"/>
        <arg name="enable_pc" value="1" />
        <arg name="exportPerfStats" value="$(arg exportPerfStats)"/>
    </include>

    <!-- zed_capture -->
    <include file="$(find zed_capture)/launch/zed_capture.launch">
        <arg name="video_id" value="$(arg video_id)"/>
        <arg name="zed_sn_str" value="$(arg zed_sn)"/>
        <arg name="frame_rate" value="15"/>
    </include>

</launch>
